
input[type=text] {
    border: 2px solid limegreen;
    border-radius: 4px;
    margin: 8px 0;
}

input[type=number] {
    border: 2px solid limegreen;
    border-radius: 4px;
    margin: 8px 0;
}

h3 {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    color: white;
}

p {    
    width: 100px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
       
}
div {    
    width: 100px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
       
}

button {    
    color: black;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;

}

.square {
	width: 100px;
	height: 100px;
	background-color: red;
}


.rectangle {
	background-color: green;
    
}

.circle {
	background-color: purple;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
}

.triangle {
	border-bottom: 100px solid yellow;
	border-right: 100px solid transparent;
}


 #drawingSpace {
    background-color: lightgrey;
    height: 600px;
    width: 600px;
}

